/* fonts*/
@font-face {
  font-family: 'ProximaNovaSoft';
  src: url("../fonts/Proxima Nova Soft/ProximaNovaSoft-Regular.otf"); }

@font-face {
  font-family: 'ProximaNovaSoft-Medium';
  src: url("../fonts/Proxima Nova Soft/ProximaNovaSoft-Medium.otf"); }

@font-face {
  font-family: 'ProximaNovaSoft-Semibold';
  src: url("../fonts/Proxima Nova Soft/ProximaNovaSoft-Semibold.otf"); }

@font-face {
  font-family: 'ProximaNovaSoft-Bold';
  src: url("../fonts/Proxima Nova Soft/ProximaNovaSoft-Bold.otf"); }

* {
  margin: 0;
  padding: 0;
  font-family: "ProximaNovaSoft", Helvetica, sans-serif; }

body {
  overflow-x: hidden; }

.no-padding {
  padding: 0; }

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  width: 294px;
  background-color: #fff;
  transform: translate3d(-294px, 0, 0);
  transition: transform 0.2s ease; }
  nav ul {
    list-style: none; }
    nav ul li {
      height: 55px; }
      nav ul li a {
        padding: 15px;
        text-decoration: none;
        display: block;
        color: #8D52BA;
        font-size: 16px;
        line-height: 100%; }
        nav ul li a span {
          vertical-align: 10px; }
      nav ul li a:hover, nav ul li a:active, nav ul li a:visited, nav ul li a:focus {
        text-decoration: none;
        color: #8D52BA; }
      nav ul li :hover, nav ul li :active, nav ul li :visited, nav ul li :focus {
        background-color: #F7F0FC;
        opacity: 1; }

.active-nav nav {
  transform: translate3d(0, 0, 0); }

.nav-toggle-btn {
  display: block;
  left: 294px;
  width: 40px;
  height: 40px; }

.content {
  transition: transform 0.2s ease;
  background-color: white; }

.active-nav .content {
  transform: translate3d(294px, 0, 0);
  background-color: rgba(0, 0, 0, 0.6); }

.side-bar-bg {
  height: 153px;
  width: 294px;
  background: url(../images/menu-header-bg.png) no-repeat;
  line-height: 153px;
  padding: 15px; }
  .side-bar-bg p {
    font-family: "ProximaNovaSoft", Helvetica, sans-serif;
    color: #fff;
    line-height: 100%;
    font-size: 18px;
    display: inline-block; }
  .side-bar-bg .user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px; }

[class^="icon-"],
[class*=" icon-"] {
  height: 30px;
  display: inline-block;
  width: 30px;
  margin-right: 10px; }

.icon-dashboard {
  background: transparent url("../images/ic-dashboard.svg") no-repeat scroll 0% 0%; }

.icon-accounts {
  background: transparent url("../images/ic-accounts.svg") no-repeat scroll 0% 0%; }

.icon-airtime {
  background: transparent url("../images/ic-airtime.svg") no-repeat scroll 0% 0%; }

.icon-cards {
  background: transparent url("../images/ic-cards.svg") no-repeat scroll 0% 0%; }

.icon-payments {
  background: transparent url("../images/ic-payments.svg") no-repeat scroll 0% 0%; }

.icon-settings {
  background: transparent url("../images/ic-settings.svg") no-repeat scroll 0% 0%; }

.icon-transfers {
  background: transparent url("../images/ic-transfers.svg") no-repeat scroll 0% 0%; }

.icon-navbar {
  background: transparent url("../images/nav-bar.png") no-repeat scroll 0% 0%; }

.top-bar {
  height: 56px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #77439E;
  text-align: center; }
  .top-bar p {
    font-size: 20px;
    font-family: "ProximaNovaSoft", Helvetica, sans-serif;
    color: #fff;
    line-height: 100%;
    text-align: center; }

.carousel {
  background-color: #8D53BB;
  color: #fff;
  padding: 20px;
  text-align: center;
  padding: 15px 15px 15px 45px;
  height: 250px; }
  .carousel .carousel-inner .item h4 {
    font-size: 18px; }
  .carousel .carousel-inner .item h1 {
    font-weight: bold; }

.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  height: 12px;
  width: 12px; }

.carousel-inner > .item {
  transition: 0.6s ease-in;
  opacity: 0; }

.carousel-inner > .active {
  opacity: 1; }

.inline-block {
  display: inline-block; }

.middle-bar {
  background-color: #77439E;
  height: 42px;
  line-height: 42px; }
  .middle-bar p {
    font-family: "ProximaNovaSoft-Medium", Helvetica, sans-serif;
    font-size: 14px;
    color: #fff; }

.trans-bar {
  height: 65px;
  line-height: 65px;
  color: #969696; }
  .trans-bar .left h3, .trans-bar .right h3 {
    font-size: 16px;
    font-family: "ProximaNovaSoft-Semibold", Helvetica, sans-serif; }
  .trans-bar .left .credit, .trans-bar .right .credit {
    color: #16967A; }
  .trans-bar .left .debit, .trans-bar .right .debit {
    color: #E44235; }
  .trans-bar .left {
    padding-left: 15px; }
  .trans-bar .right {
    padding-right: 15px;
    text-align: right; }

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #fff; }

.table-striped > tbody > tr {
  background-color: #f1f1f1; }

.table > tbody > tr > td {
  border: none;
  padding: 0; }

.pad-15 {
  padding-left: 15px;
  padding-right: 15px; }

.active-nav .cover {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5; }

@media (max-width: 315px) {
  nav {
    width: 220px;
    transform: translate3d(-250px, 0, 0); }
  .active-nav .content {
    transform: translate3d(220px, 0, 0); }
  .side-bar-bg {
    width: 220px; } }
