/* fonts*/
@font-face {
    font-family: 'ProximaNovaSoft';
    src: url('../fonts/Proxima Nova Soft/ProximaNovaSoft-Regular.otf');
}

@font-face {
    font-family: 'ProximaNovaSoft-Medium';
    src: url('../fonts/Proxima Nova Soft/ProximaNovaSoft-Medium.otf');
}

@font-face {
  font-family: 'ProximaNovaSoft-Semibold';
  src: url('../fonts/Proxima Nova Soft/ProximaNovaSoft-Semibold.otf');
}


@font-face {
  font-family: 'ProximaNovaSoft-Bold';
  src: url('../fonts/Proxima Nova Soft/ProximaNovaSoft-Bold.otf');
}

$font-regular: 'ProximaNovaSoft', Helvetica, sans-serif;
$font-bold: 'ProximaNovaSoft-Bold', Helvetica, sans-serif;
$font-Semibold: 'ProximaNovaSoft-Semibold', Helvetica, sans-serif;
$font-medium: 'ProximaNovaSoft-Medium', Helvetica, sans-serif;
$white: #fff;
$primary: #8D52BA;


* {
    margin: 0;
    padding: 0;
    font-family: $font-regular;
}
body {
    overflow-x: hidden;
}

.no-padding {
    padding: 0;
}

nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 294px;
    background-color: $white;
    transform: translate3d(-294px, 0, 0);
    transition: transform 0.2s ease;
    ul {
        list-style: none;
        li {
            height: 55px;
            a {
                padding: 15px;
                text-decoration: none;
                display: block;
                color: $primary;
                font-size: 16px;
                line-height: 100%;
                span {
                    vertical-align: 10px;
                }
            }
            a:hover, a:active, a:visited, a:focus {
                text-decoration: none;
                color: $primary;
            } 
            :hover, :active, :visited, :focus {
                background-color: #F7F0FC;
                opacity: 1;
            }
        }
    }
}

.active-nav nav {
    transform: translate3d(0, 0, 0);
}

.nav-toggle-btn {
    display: block;
    left: 294px;
    width: 40px;
    height: 40px;
}

.content {
    transition: transform 0.2s ease;
    background-color: rgba(255,255,255,1);
}

.active-nav .content {
    transform: translate3d(294px, 0, 0);
    background-color: rgba(0,0,0,0.6);
}

.side-bar-bg {
    height: 153px;
    width: 294px;
    background: url(../images/menu-header-bg.png) no-repeat;
    line-height: 153px;
    padding: 15px;
    p {
        font-family: $font-regular;
        color: $white;
        line-height: 100%;
        font-size: 18px;
        display: inline-block;
    }
    .user-img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
    }
}

[class^="icon-"],
[class*=" icon-"] {
    height: 30px;
    display: inline-block;
    width: 30px;
    margin-right: 10px;
}

.icon-dashboard{
  background: transparent url("../images/ic-dashboard.svg") no-repeat scroll 0% 0%;
}
.icon-accounts{
  background: transparent url("../images/ic-accounts.svg") no-repeat scroll 0% 0%;
}
.icon-airtime{
  background: transparent url("../images/ic-airtime.svg") no-repeat scroll 0% 0%;
}
.icon-cards{
  background: transparent url("../images/ic-cards.svg") no-repeat scroll 0% 0%;
}
.icon-payments{
  background: transparent url("../images/ic-payments.svg") no-repeat scroll 0% 0%;
}
.icon-settings{
  background: transparent url("../images/ic-settings.svg") no-repeat scroll 0% 0%;
}
.icon-transfers{
  background: transparent url("../images/ic-transfers.svg") no-repeat scroll 0% 0%;
}
.icon-navbar{
    background: transparent url("../images/nav-bar.png") no-repeat scroll 0% 0%;
}

.top-bar {
    height: 56px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #77439E;
    text-align: center;
    p {
        font-size: 20px;
        font-family: $font-regular;
        color: $white;
        line-height: 100%;
        text-align: center;
    }
}

.carousel {
    background-color: #8D53BB;
    color: #fff;
    padding: 20px;
    text-align: center;
    padding: 15px 15px 15px 45px;
    height: 250px;
    .carousel-inner {
        .item {
            h4 {
                font-size: 18px;
            }
            h1 {
                font-weight: bold;
            }

        }
    }
}
.carousel-indicators li {
    background-color: rgba(255,255,255,0.5);
    border: none;
    height: 12px;
    width: 12px;
}
.carousel-inner > .item {
    transition: 0.6s ease-in;
    opacity: 0;
}
.carousel-inner > .active {
    opacity: 1;
}
.inline-block {
    display: inline-block;
}
.middle-bar {
    background-color: #77439E;
    height: 42px;
    line-height: 42px;
    p {
        font-family: $font-medium;
        font-size: 14px;
        color: $white;
    }
}
.trans-bar {
    height: 65px;
    line-height: 65px;
    color: #969696;
    .left, .right {
        h3 {
            font-size: 16px;
            font-family: $font-Semibold;
        }
        .credit {
            color: #16967A;
        }
        .debit {
            color: #E44235;
        }
    }
    .left {
        padding-left: 15px;
    }
    .right {
        padding-right: 15px;
        text-align: right;
    }
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #fff;
}
.table-striped > tbody > tr {
    background-color: #f1f1f1;
}
.table > tbody > tr > td {
    border: none;
    padding: 0;
}
.pad-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.active-nav .cover {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

@media (max-width: 315px) {
    nav {
        width: 220px;
        transform: translate3d(-250px, 0, 0);
    }
    .active-nav .content {
        transform: translate3d(220px, 0, 0);
    }

    .side-bar-bg {
        width: 220px;
    }
}